body {
  margin: 0 ;
  padding: 0;
  background-image:url("./backgoundImg.jpg");
  background-size:cover;  
  /* background-color: rgb(20, 20, 83); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
